//Grid Values

$base: 4px;
$key: 8px;
$baseline: 12px;
$keyline: 24px;


//Typography

$primaryNavigation: 21/48 HUGE Avant Garde Bold;
$secondaryNavigation: 16/48 Galaxie Copernicus Book;
$headlineDesktop: 120/132 HUGE Avant Garde Bold;
$bodyDesktop: 24/36 Galaxie Copernicus Book;
$headlineMobile: 44/48 HUGE Avant Garde Bold;
$bodyMobile: 14/24 Galaxie Copernicus Book;
$copyright: 12/16 Helvetica Neue Regular;

// Color

$HUGE: #ec008c;
$LightGray: #eee;
$transparentBlack: rgba(0, 0, 0, 0.5);