//Grid Values

$base: 4px;
$key: 8px;
$baseline: 12px;
$keyline: 24px;


//Typography

$primaryNavigation: 21px/48px HUGEAvantGardeBold;
$secondaryNavigation: 16px/48px Galaxie;
$headlineDesktop: 120px/132px HUGEAvantGardeBold;
$bodyDesktop: 24px/1.5 Galaxie;
$headlineMobile: 44px/48px HUGEAvantGardeBold;
$bodyMobile: 14px/24px Galaxie;
$copyright: 12px/16px HelveticaNeue;

// Color

$HUGE: #ec008c;
$LightGray: #eee;
$black:#0a0a0a;
$transparentBlack: rgba(0, 0, 0, 0.5);


$medium-screen:768px;


//Ani
$curve: cubic-bezier(.54,.25,.35,.89);
$smoothin: all 400ms $curve; 