
.side-open{
	transform:translateX(0);

	&.animate {
	  -webkit-transition:all $curve 500ms;
	  -moz-transition:all $curve 500ms;
	  -o-transition:all $curve 500ms;
	  transition:all $curve 500ms;
	  opacity: 1; /* Default value but added for clarity */
	}

	/* Initial state when showing */
	&.ng-hide-remove {
	  opacity: 0;
	  display: block !important;
	}

	/* Will transition towards this state */
	&.ng-hide-remove.ng-hide-remove-active {
	  opacity: 1;
	}
}

.expander-arrow{
	transition: all 100ms $curve;
	position:absolute;
	right:$keyline;
	cursor:pointer;
	transform:rotate(0deg);
	svg{
		@include size($keyline);
	}

	@include media($medium-screen){
		display: none;
	}
	&.sideSecondary-active{
		transform: rotate(180deg);
	}
}
