nav{
	padding-top:$baseline;
	width:80%;
	height:100vh;
	min-width:$keyline*12; //288px 
	background:#fff;
	position:relative;
	overflow-y:auto;
	transition:all 300ms ease-in-out;
	transform:translateX(-100%);

	li{
		
		padding:0;
	}
	a{
		font:$primaryNavigation;
		text-decoration: none;
		color:$black;
		padding-left:$keyline;


	}
// Desktop Layout ====================

@include media($medium-screen){
	background:none;
	padding-top:0;
	padding-left:$baseline*7;//initial offset
	transform:translateX(0);
	width:auto;

	li{
		float: left;
		padding:$baseline $keyline; // 48px
		cursor: pointer;

		&:hover{
			background: #fff;
		}
		
		&:hover>.nav-second-level{
			display: block;
			float: left;
			position: absolute;
			// height: 220px;
			background: white;
			// color: $HUGE;
			top: 72px;
			margin: 0;
			margin-left: -24px;
		}

		&:hover>a{
			color: $HUGE;
		}

		a{
			font:$primaryNavigation;
			text-decoration: none;
			color: #fff;
			padding-left:0;

		}


	}

}

}

// ================================




.nav-second-level{

	&.collapsed{
		display:none; 
	}
	&.sideSecondary-active{
	display:block;
}

	li{
		width: 222px;
		z-index:100;
		padding:0;
		cursor: pointer;
		display: block;
		width: 100%;
		transition: background 280ms $curve;

		&:hover{
			background:$LightGray;
		}
		&:hover>a{color:$HUGE;}
	}
	a{
		font:$secondaryNavigation;
		transition: color 180ms ease-in-out;
		color: $black;
	}
	@include media($medium-screen){
		width: 222px;

		li{
			
			padding-left: $keyline;

		&:hover{
			background:$LightGray;
		}

			
		}
		a{
			padding-left:0;
		}

	}

	
}


.expander-arrow{
	transition: all 100ms $curve;
	position:absolute;
	right:$keyline;
	cursor:pointer;
	transform:rotate(0deg);
	svg{
		@include size($keyline);
	}

	@include media($medium-screen){
		display: none;
	}
	&.sideSecondary-active{
		transform: rotate(180deg);
	}
}


// Navigation screen behind

.screen{
	
	width:100%;
	height:100%;
	background:$transparentBlack;
	position:absolute;
	top:0px;
	z-index:90;
	opacity:1;

	&.ng-animate {
	  -webkit-transition:all $curve 500ms;
	  -moz-transition:all $curve 500ms;
	  -o-transition:all $curve 500ms;
	  transition:all $curve 500ms;
	  opacity: 1;
	}

	/* Initial state when showing */
	&.ng-hide-remove {
	  opacity: 0;
	  display: block !important;
	}

	/* Will transition towards this state */
	&.ng-hide-remove.ng-hide-remove-active {
	  opacity: 1;
	}
	@include media($medium-screen){
		
	}

}


.copyright{
	font:$copyright;
	position:relative;
	height:50%;
	padding-left: $keyline;

	@include media($medium-screen){
		display: none;
	}

	p{
		position: absolute;
		height: $keyline*2; //48px
		bottom:$keyline*2;
	}
}



.side-open{
	transform:translateX(0);

	&.animate {
	  -webkit-transition:all $curve 500ms;
	  -moz-transition:all $curve 500ms;
	  -o-transition:all $curve 500ms;
	  transition:all $curve 500ms;
	  opacity: 1; /* Default value but added for clarity */
	}

	/* Initial state when showing */
	&.ng-hide-remove {
	  opacity: 0;
	  display: block !important;
	}

	/* Will transition towards this state */
	&.ng-hide-remove.ng-hide-remove-active {
	  opacity: 1;
	}
}

.sideSecondary-active{
	transform:translateY(0);

	&.animate {
	  -webkit-transition:all $curve 500ms;
	  -moz-transition:all $curve 500ms;
	  -o-transition:all $curve 500ms;
	  transition:all $curve 500ms;
	  opacity: 1; /* Default value but added for clarity */
	}

	/* Initial state when showing */
	&.ng-hide-remove {
	  opacity: 0;
	  display: block !important;
	}

	/* Will transition towards this state */
	&.ng-hide-remove.ng-hide-remove-active {
	  opacity: 1;
	}
}


.nav-second-level{
	// transform:scaleY(0);
	  -webkit-transition:all 100ms $curve;
	  -moz-transition:all 100ms $curve;
	  -o-transition:all 100ms $curve;
	  transition:all 100ms $curve;
	  transform-origin:top;
	  transform:scaleY(1);

	/* Initial state when showing */
	&.collapsed-add-remove,&.collapsed-add-active {
	  opacity: 0;
	transform: scaleY(1);
	  // display: block !important;
	}

	/* Will transition towards this state */
	&.collapsed-remove {
	 opacity: 1;
	transform:scaleY(0);	 
	  
	}



	@include media($medium-screen){
		display: none;
	}

}




